@import "tailwindcss";

/* dark mode */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
--color-primary-50: var(--color-blue-50);
--color-primary-100: var(--color-blue-100);
--color-primary-200: var(--color-blue-200);
--color-primary-300: var(--color-blue-300);
--color-primary-400: var(--color-blue-400);
--color-primary-500: var(--color-blue-500);
--color-primary-600: var(--color-blue-600);
--color-primary-700: var(--color-blue-700);
--color-primary-800: var(--color-blue-800);
--color-primary-900: var(--color-blue-900);
--color-primary-950: var(--color-blue-950);
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: oklch(92.8% 0.006 264.531);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: oklch(55.2% 0.016 285.938);
}

.dark ::-webkit-scrollbar-thumb {
    background: oklch(37% 0.013 285.805);
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: oklch(27.4% 0.006 286.033);
}